* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor-secundaria);
}

:root {
    --cor-primaria: green;
    --cor-secundaria: #060606;
    --cor-destaque1: #0b0b0b;
    --cor-destaque2: rgb(3, 3, 3);
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
}

header,
main,
footer {
    width: 890px;
    margin: 0 auto;
}

h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

nav,
section,
article {
    margin: 5px;
    padding: 8px;
}

.rede-sociais a,
nav a,
footer a {
    text-decoration: none;
}

.informacao {
    text-align: center;
    width: 100%;
    padding: 40px;

}

.mapa-formulario {
    display: flex;
    justify-content: left;
    gap: 40px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 250px;

    gap: 15px;
    margin-bottom: 12px;
}

.dados {
    display: block;
    justify-content: space-between;
    align-items: center;

}

.dados input {
    width: 270px;
    height: 35px;
    margin-bottom: 10px;
}

.opcoes {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.escolher label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;

}

.proposito {
    width: 180px;
}

.mapa {
    width: 520px;
    height: 450px;
}

.mensagem textarea {
    width: 280px;
    height: 110px;
    display: block;

}

.newsletter button {
    margin: 1rem;
    width: 280px;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

header {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    background-color: #827d7d;
}

.navegacao {
    display: flex;
    list-style: none;
}

.navegacao li {
    flex: 1 1 auto;
}

.equipe {
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
}

.equipe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.equipe figure {
    text-align: center;
}

.equipe img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}