table {
    border-collapse: collapse;
    border: 2px solid;
    letter-spacing: 1px;
}

th,
td {
    border: 2px solid rgb(150, 150, 150);
    padding: 8px 12px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: rgb(16, 16, 16);
    color: white;
    font-weight: 700;
}